header.header
    .overlay
    .header-t
        .container.relative
            .justify-content-center
                .align-items-center
                    .slider-one
                        .slide 
                            a(href='#') Купи котел Stropuwa и получи монтаж совершенно БЕСПЛАТНО
                        .slide 
                            a(href='#') Купи котел Stropuwa и получи монтаж совершенно БЕСПЛАТНО
            .lang.d-xl-flex.d-none 
                a(href='#') ua
                a.active(href='#') ru    
    .header-c 
        .container
            .align-items-center
                .header_left
                    button.burger(type="button")
                    a.logo.d-xl-block.d-none(href='#')
                .header_right.flex-center-between
                    .messenger.relative.stopPropagation(data-item='messenger' data-button='messenger')
                        .align-items-center.messenger-item(data-toggle)
                            +icon('phone2')
                            p (044) 384-25-65 
                            +icon('arrow-down')
                        .dropdowm
                            ul
                                each val in [{icon: 'messenger', text: 'Messenger', bg: 'bg-blue', href: 'https://www.facebook.com/messages/t/pelletshome.com.ua/'}, {icon: 'viber', text: 'Viber', bg: 'bg-purple', href: 'viber://chat?number=%2B380674617749'},{icon: 'telegram', text: 'Telegram', bg: 'bg-blue2', href: 'tg://resolve?domain=name'}]
                                    li
                                        a.align-items-center(href=val.href)
                                            span.circle(class=val.bg)
                                                +icon(val.icon)
                                            span.fs-14=val.text
                                li
                                    a.align-items-center(href='tel:0443842565')
                                        span.circle.bg-red
                                            +icon('phone')
                                        span
                                            span.fs-17 (044) 384-25-65
                                            span.fs-12.c-gray-light.d-block пн-пт 09:00 - 19:00
                            a.btn.d-xl-block.d-none(href='#') Консультация
                    form.search 
                        input(type='text' placeholder='Поиск товаров' required)
                        button.btn-search(type='submit')
                            +icon('magnifier')
                        .search-drop 
                            ul 
                                -var n = 3
                                -while(n--)
                                    li.isVisible 
                                        a.align-items-center(href='#')
                                            img(src='img/common/product.png' alt='product image')
                                            span Котел твердопаливний 
                                                span.d-block KRONAS EKO  
                                li.d-none 
                                    a.align-items-center(href='#')
                                        img(src='img/common/product.png' alt='product image')
                                        span Котел твердопаливний 
                                            span.d-block KRONAS EKO 
                            button.fs-14.search-more(type='button') показать все 
                                span.d-sm-inline.d-none результаты поиска

                    nav.navbotom.stopPropagation 
                        ul.flex-center-around 
                            each val, index in [{name: 'Вхід', icon: 'user'},{name: 'Обране', icon: 'heart'},{name: 'Калькулятор', icon: 'calculate.svg'}]
                                li(class=index==3 ? 'd-xl-none': '')
                                    a(href='#')
                                        if (index==2)
                                            img(src='img/common/'+val.icon)
                                        else
                                            +icon(val.icon)
                                        span.d-xl-none.d-block=val.name
                            li.d-xl-none(data-button='messenger')
                                a(href='#')
                                    +icon('phone2')
                                    span.d-xl-none.d-block Подзвонити
                    
                    .btn-cart
                        .btn-cart_item(data-button='cart')
                            +icon('cart')
                            p 1
                        .cart-popup(data-item='cart' data-button='cart')
                            .cart-popup_container.stopPropagation
                                .flex-center-between
                                    h2.fs-20.fw-medium Корзина
                                    button.d-sm-none(type="button" data-button='cart')
                                        +icon('close2')
                                ul.cart-list 
                                    li.justify-content-between 
                                        a.cart-list_img(href="#")
                                            img(src='img/common/category6.png' alr='product')
                                        .flex-sm-row.flex-column.justify-content-between
                                            .cart-list_title
                                                a(href='#') ALTEP TRIO UNI PLUS (КТ-3ЕN)
                                                p.fs-13.c-gray-500 Артикул 11294038
                                            .d-sm-block.align-items-end.flex-wrap
                                                p.fs-12.text-through.c-dark.d-block.text-nowrap 13800 грн
                                                p.fs-18.c-red.fw-medium.lh-1.text-nowrap 12500 грн
                                        button.btn-delete(type='button')
                                            +icon('delete')
                                .cart-popup_total.justify-content-sm-end.d-flex
                                    p.fs-12.mr-15 Всього без доставки:
                                    div
                                        p.fs-12.text-through.c-dark.d-block.text-nowrap 13800 грн
                                        p.fs-18.c-red.fw-medium.lh-1 12500 грн
                                a.btn.big-xl(href='#') Оформить заказ
                                button.d-sm-none.fs-12.text-center.mt-20.w-100(type='button' data-button='cart') Продолжить покупки

    .header-b 
        .justify-content-xl-center
            .header_left 
                .catalog 
                    .catalog-h.align-items-center 
                        +icon('menu','active')
                        +icon('close')
                        p.fs-18.fw-medium.c-white.text-up Каталог товаров
                    ul.catalog-drop 
                        each val in [{icon: 'catalog1.svg', name: 'Твердотопливные котлы'}, {icon: 'catalog2.svg', name: 'Водонагреватели'}, {icon: 'catalog3.svg', name: 'Печи и камины'}, {icon: 'catalog4.svg', name: 'Котельное оборудование'}, {icon: 'catalog5.svg', name: 'Обслуживание и чистка котлов, каминов и дымоходов'}, {icon: 'catalog6.svg', name: 'Альтернативное отопление'}, {icon: 'catalog7.svg', name: 'Биотопливо'}]
                            li
                                a.catalog-item.align-items-center(href='#')
                                    img.catalog-item_img(src='img/catalog/'+val.icon alt='catalog')
                                    span.fs-15=val.name
                                    +icon('arrow-right')
                                .catalog-m
                                    .justify-content-between.flex-wrap
                                        .col 
                                            .align-items-center 
                                                img.catalog-m_img(src='img/catalog/img1.png' alt='image')
                                                a.fs-21.fw-medium(href='#') Бытовые твердотопливные котлы
                                            ul.catalog-list 
                                                each val in ['Котлы на дровах и угле традиционного горения','Котлы длительного горения','Пиролизные котлы (газогенераторные)','Пеллетные котлы с автоматической подачей топлива','Твердотопливные теплогенераторы','Котлы на щепе','Котлы-плиты с варочной поверхностью']
                                                    li
                                                        a.fs-14(href='#')=val
                                        .col 
                                            .align-items-center 
                                                img.catalog-m_img(src='img/catalog/img2.png' alt='image')
                                                a.fs-21.fw-medium(href='#') Промышленный твердотопливные котлы
                                            ul.catalog-list 
                                                each val in ['Промышленные автоматизированные котлые','Промышленные котлы с ручной загрузкой','Блочно-модульные котельные','Парогенераторы на твердом топливе']
                                                    li
                                                        a.fs-14(href='#')=val

                                        .card-reverse
                                            img(src='img/common/product.jpg' alt='product')
                                            .c-white
                                                p.fs-20.fw-medium
                                                    span.c-orange.d-block Проектирование
                                                    | промышленных котелен
                                                p.fs-11.opensans Успей поставить котел, пока не отключили отопление! 
                                            a.btn.bg-orange(href='#') Подробнее   
            nav.header_right.align-items-xl-center
                .menu.stopPropagation
                    .d-xl-none.flex-center-between
                        a.logo(href='#')
                        .lang.d-flex 
                            a(href='#') ua
                            a.active(href='#') ru  
                    ul.d-flex 
                        each val, index in ['Акции %','Производители','Объекты','Монтаж','Клиентам','Контакты']
                            li.relative
                                if(index == 4)
                                    p.menu-link
                                        span.mr-5=val
                                        +icon('arrow-down','d-xl-none')
                                    .menu-dropdown 
                                        ul
                                            each val in ['Оплата и доставка','Возврат товара','О компании','Сертфикаты']
                                                li
                                                    a(href='#')=val
                                else
                                    a.menu-link(href='#')=val
                button.btn-close.d-xl-none(type='button')