header.header
    .header-t
        .container.relative
            .justify-content-center
                .align-items-center
                    .slider-one
                        .slide 
                            p Купи котел Stropuwa и получи монтаж совершенно БЕСПЛАТНО
                        .slide 
                            p Купи котел Stropuwa и получи монтаж совершенно БЕСПЛАТНО
            .lang.d-xl-flex.d-none 
                a(href='#') ua
                a.active(href='#') ru    
    .header-c 
        .container
            .align-items-center
                .header_left
                    button.burger(type="button")
                    a.logo.d-xl-block.d-none(href='#')  
                        span.fs-30.align-items-baseline Pellets
                            +icon('logo', 'c-red')
                            | Home
                        span.fs-15 твердотопливные котлы №1 в Украине 
                .header_right.flex-center-between
                    .messenger.relative
                        .align-items-center.messenger-item
                            +icon('phone2')
                            p (044) 384-25-65 
                            +icon('arrow-down')
                        .dropdowm 
                            ul
                                each val in [{icon: 'messenger', text: 'Messenger', bg: 'bg-blue'}, {icon: 'viber', text: 'Viber', bg: 'bg-purple'},{icon: 'telegram', text: 'Telegram', bg: 'bg-blue2'}]
                                    li.align-items-center 
                                        .circle(class=val.bg)
                                            +icon(val.icon) 
                                        p.fs-14=val.text
                                li.align-items-center 
                                    .circle.bg-red
                                        +icon('phone') 
                                    div
                                        p.fs-17 (044) 384-25-65 
                                        p.fs-12.c-gray-light пн-пт 09:00 - 19:00 
                            a.btn(href='#') Консультация
                    form.search 
                        input(type='text' placeholder='Поиск товаров' required)
                        button.btn-search(type='submit')
                            +icon('magnifier')
                        .search-drop 
                            ul 
                                -var n = 3
                                -while(n--)
                                    li.isVisible 
                                        a.align-items-center(href='#')
                                            img(src='img/common/product.png' alt='product image')
                                            span Котел твердопаливний 
                                                span.d-block KRONAS EKO  
                                li.d-none 
                                    a.align-items-center(href='#')
                                        img(src='img/common/product.png' alt='product image')
                                        span Котел твердопаливний 
                                            span.d-block KRONAS EKO 
                            button.fs-14.search-more(type='button') показать все 
                                span.d-sm-inline.d-none результаты поиска

                    nav.navbotom.stopPropagation 
                        ul.flex-center-around 
                            each val, index in [{name: 'Вхід', icon: 'user'},{name: 'Обране', icon: 'heart'},{name: 'Калькулятор', icon: 'calculate.svg'},{name: 'Подзвонити', icon: 'phone2'}]
                                li(class=index==3 ? 'd-xl-none': '')
                                    a(href='#')
                                        if (index==2)
                                            img(src='img/common/'+val.icon)
                                        else
                                            +icon(val.icon)
                                        span.d-xl-none.d-block=val.name
                    a.btn-cart(href='#')
                        +icon('cart')
    .header-b 
        .justify-content-xl-center
            .header_left 
                .catalog 
                    .catalog-h.align-items-center 
                        +icon('menu','active')
                        +icon('close')
                        p.fs-15.fw-medium.c-white.text-up Каталог товаров
                    ul.catalog-drop 
                        each val in [{icon: 'catalog1.svg', name: 'Твердотопливные котлы'}, {icon: 'catalog2.svg', name: 'Водонагреватели'}, {icon: 'catalog3.svg', name: 'Печи и камины'}, {icon: 'catalog4.svg', name: 'Котельное оборудование'}, {icon: 'catalog5.svg', name: 'Обслуживание и чистка котлов, каминов и дымоходов'}, {icon: 'catalog6.svg', name: 'Альтернативное отопление'}, {icon: 'catalog7.svg', name: 'Биотопливо'}]
                            li
                                .catalog-item.align-items-center
                                    img.catalog-item_img(src='img/catalog/'+val.icon alt='catalog')
                                    p.fs-15=val.name
                                    +icon('arrow-right')
                                .catalog-m
                                    .justify-content-between.flex-wrap
                                        .col 
                                            .align-items-center 
                                                img.catalog-m_img(src='img/catalog/img1.png' alt='image')
                                                a.fs-21.fw-medium(href='#') Бытовые твердотопливные котлы
                                            ul.catalog-list 
                                                each val in ['Котлы на дровах и угле традиционного горения','Котлы длительного горения','Пиролизные котлы (газогенераторные)','Пеллетные котлы с автоматической подачей топлива','Твердотопливные теплогенераторы','Котлы на щепе','Котлы-плиты с варочной поверхностью']
                                                    li
                                                        a.fs-14(href='#')=val
                                        .col 
                                            .align-items-center 
                                                img.catalog-m_img(src='img/catalog/img2.png' alt='image')
                                                a.fs-21.fw-medium(href='#') Промышленный твердотопливные котлы
                                            ul.catalog-list 
                                                each val in ['Промышленные автоматизированные котлые','Промышленные котлы с ручной загрузкой','Блочно-модульные котельные','Парогенераторы на твердом топливе']
                                                    li
                                                        a.fs-14(href='#')=val

                                        .card-reverse
                                            img(src='img/common/product.jpg' alt='product')
                                            .c-white
                                                p.fs-20.fw-medium
                                                    span.c-orange.d-block Проектирование
                                                    | промышленных котелен
                                                p.fs-11.opensans Успей поставить котел, пока не отключили отопление! 
                                            a.btn.bg-orange(href='#') Подробнее   
            nav.header_right.align-items-xl-center
                .menu.stopPropagation
                    .d-xl-none.flex-center-between
                        a.logo(href='#')  
                            span.fs-30.align-items-baseline Pellets
                                +icon('logo', 'c-red')
                                | Home
                        .lang.d-flex 
                            a(href='#') ua
                            a.active(href='#') ru  
                    ul 
                        each val in ['Акции %','Производители','Объекты','Монтаж','Клиентам','Контакты']
                            li
                                a(href='#')=val
                button.btn-close.d-xl-none(type='button')