extends layout/main

block variables
	-var title = 'Категория'
	-var page = 'category-page'

block link

block content
	main
		section
			.container
				nav.breadcrumbs
					ul.flex-wrap
						+breadcrumbs-item('Главная','#')
						+breadcrumbs-item('Твердотопливные котлы')
				.category-slider.pb-20
					each val, index in ['Котлы на дровах и угле традиционного горения','Котлы длительного горения','Пиролизные котлы (газогенераторные)','Пеллетные котлы с автоматической подачей топлива','Твердотопливные теплогенераторы','Котлы-плиты с варочной поверхностью','Котлы на щепе']
						a.category-i(href='#')
							.category-i_border
								img(src=`img/common/category${index}.png` alt='catefory image')
							span.fs-12.d-block=val
				.flex-center-between.flex-wrap 
					h2.fs-27 ТВЕРДОТОПЛИВНЫЕ КОТЛЫ
					.align-items-md-center.d-none
						p.fs-15.mr-5 Сортировать:
						.select 
							.select-item.flex-center-between(data-toggle)
								p.fs-15.fw-medium по популярности
								+icon('arrow-down')

							ul.select-drop.fs-14  
								li по популярности
								li по рейтингу
				.flex-wrap 
					.sort(data-item='sort') 
						.filter_head
							p.fs-18.fw-medium Сортировать
							button.btn-close(type='button')
								+icon('close2')
						.sort_body
							label.align-items-center 
								input.checkbox(type='radio' name='radio' checked)
								span.check 
								span.fs-14 по популярности
							label.align-items-center 
								input.checkbox(type='radio' name='radio')
								span.check 
								span.fs-14 по рейтингу
						button.filter_footer.text-center.fs-18.fw-medium.c-white.w-100(type='button') Применить

					.filter(data-item='filter')
						.filter_head.d-md-none 
							.align-items-center 
								img.icon-filter(src='img/common/filter.svg' alt='filter icon')
								p.fs-18.fw-medium Фильтрация
							button.btn-close(type='button')
								+icon('close2')
						p.text-up.fw-medium Фильтр по товарам
						.filter-i 
							p.fs-18.fw-medium Цена
							.filter-price.d-flex
								.mr-15
									p.fs-15 от
									input.input-small.amount1(type='text' value='4445')
								div
									p.fs-15 до
									input.input-small.amount2(type='text' value='971767')
							.range 
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Производитель
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: 'ALTEP ', count: '(15)'}, {name: 'Amica ', count: '(8)'}, {name: 'Ardenz ', count: '(3)'}, {name: 'Aremikas ', count: '(1)'}, {name: 'Atmos ', count: '(7)'}, {name: 'ATON ', count: '(1)'} ,{name: 'BAXI ', count: '(1)'} ,{name: 'BEETERM ', count: '(7)'},{name: 'BAXI ', count: '(1)'} ,{name: 'BEETERM ', count: '(7)'},]
										li(class=index < 8 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
								button.btn-all(type='button') Показать все
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Мощность
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: '7 ', count: '(15)'}, {name: '8 ', count: '(8)'}, {name: '9 ', count: '(3)'}, {name: '10 ', count: '(1)'}, {name: '11 ', count: '(7)'}, {name: '12 ', count: '(1)'} ,{name: '13 ', count: '(1)'} ,{name: '14 ', count: '(7)'},{name: '15 ', count: '(1)'} ,{name: '16 ', count: '(7)'},]
										li(class=index < 8 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
								button.btn-all(type='button') Показать все
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Страна 
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: 'Болгария ', count: '(15)'}, {name: 'Австрия ', count: '(8)'}, {name: 'Германия ', count: '(3)'}, {name: 'Литва ', count: '(1)'}, {name: 'Польша ', count: '(7)'}, {name: 'Турция ', count: '(1)'} ,{name: 'Украина ', count: '(1)'} ,{name: 'Чехия ', count: '(7)'},{name: 'Китай ', count: '(1)'},]
										li(class=index < 8 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
								button.btn-all(type='button') Показать все
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Тип котла 
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: 'Шахтные (Холмова) ', count: '(15)'}, {name: 'Длительного горения ', count: '(8)'}, {name: 'Пеллетные ', count: '(3)'}, {name: 'Традиционные ', count: '(1)'},]
										li(class=index < 4 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Материал
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: 'Стальные', count: '(308)'}, {name: 'Чугунные', count: '(30)'},]
										li(class=index < 2 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Гарантия
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: '12мес', count: '(3)'}, {name: '24мес', count: '(17)'},{name: '36мес', count: '(17)'},{name: '48мес', count: '(17)'},{name: '60мес', count: '(17)'},{name: '72мес', count: '(17)'},{name: '120мес', count: '(17)'},]
										li(class=index < 7 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
						.filter-i 
							.filter-i_click.flex-center-between.active(data-toggle)
								p.fs-18.fw-medium Тип автоматики
								+icon('arrow-up')
							.filter-list
								ul
									each val, index in [{name: 'Электронная ', count: '(253)'}, {name: 'Энергонезависимая', count: '(108)'},]
										li(class=index < 2 ? 'isVisible' : 'd-none')
											label.align-items-center 
												input.checkbox(type='checkbox')
												span.check 
												span.fs-14=val.name
													span.c-gray-400=val.count
						.filter-i 
							p.fs-18.fw-medium Смотрите также
							.flex-wrap 
								each val in ['КОТЛЫ ДЛИТЕЛЬНОГО ГОРЕНИЯ','Котлы на щепу','Котлы киев','Котлы по низкой цене Киев','димоходная труба для котлов',]
									a.tag(href='#')=val
						.filter_footer.flex-center-between.d-md-none
							button.align-items-center(type='reset')
								+icon('close2')
								span.fs-12.c-pink Очистить фильтр
							button.fs-18.fw-medium.c-white(type='button') Применить
					.products
						.d-md-none.d-flex.btns 
							button.btn-filter.align-items-center(type='button' data-button='filter') 
								img(src='img/common/filter.svg' alt='filter icon')
								span.fw-medium Фильтрация
							button.btn-sort(type='button' data-button='sort') 
								span.fw-medium Сортировка

						.flex-wrap.products-content 
							-var n = 23
							-var i = 0
							while (n--)
								.card(class=i==3 ? 'disabled' : '') 
									if (i==1) 
										.stock-new 
											.stock -20%
											.new NEW
									if (i==2) 
										.status-product Ожидается
									if (i==3) 
										.status-product Нет в наличии
									a(href='#')
										.card-top
											img(src='img/common/product2.jpg' alt='product')
											.sticky-right
												button.btn-heart(type='button')
													+icon('heart2')
												button.btn-weigher(type='button')
													+icon('weigher')
										.flex-center-between.ff-opensans.mb-16.flex-wrap
											.align-items-center
												.rate-area.checked
													input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
													label(for=`5-star${i}` title='Amazing') 
													input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
													label(for=`4-star${i}` title='Good') 
													input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
													label(for=`3-star${i}` title='Average')
													input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
													label(for=`2-star${i}` title='Not Good') 
													input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
													label(for=`1-star${i}` title='Bad')
												.i-comments.align-items-center
													+icon('comments')
													p.text-small 21
											p.text-small.c-gray Код: 79059000-1
										p.card-title Котел твердопаливний <br> KRONAS EKO 
									ul.card-info.ff-opensans.text-small
										li.d-flex
											p Производитель:
											p Кronas
										li.d-flex 
											p Мощность:
											p от 12 кВт
									.flex-center-between
										p.price от 12 800 грн
										button.btn-cart.small(type='button')
											+icon('cart')
								if (n==18) 
									.card-reverse.big
										img(src='img/common/car2.jpg' alt='product')
										.c-white
											p.fs-30.fw-medium.mb-20
												span.c-orange.d-block Бесплатная доствка котлов 
												| по Украине
											p.fs-14.ff-opensans Успей поставить котел,<br class='d-sm-block d-none'> пока не отключили<br> отопление! 
										a.btn.bg-orange.fw-medium(href='#') Купи котел 
											span.d-sm-inline.d-none уже 
											| сейчас  

								-i++
						+pagination(adjacents, 6, 6, 1, base, arrow)
						p.text.pt-sm-30 В настоящее время на рынке Украины существует широкий ассортимент моделей твердотопливных котлов различных типов и на любой диапазон по цене. В нашем интернет магазине представлены современные экономичные котлы на твердое топливо, которые удобны для использования, эффективные, простые и безопасные. Кроме того, благодаря использованию современных технологий они позволяют получить большую экономию топлива.

block script 
	script(src="js/jquery.ui.touch-punch.min.js")
	