extends layout/main

block variables
	-var title = 'Корзина'
	-var page = 'cart-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Оформление заказа')
		section
			.container
				.flex-sm-center-between
					h2 Оформление заказа
					a.underline(href="#") продолжить покупки
			form.cart-row
				.container
					.flex-wrap.justify-content-between
						.col
							.flex-center-between
								p.fs-24.fw-medium Контактные данные
								a.align-items-center(href="#")
									+icon('user')
									span.fs-18.c-gray-600 Войти в аккаут
							.flex-wrap.row-form
								.w-lg-50.pr-lg-15.w-100
									input.input2(type='text' value='Скоропадський' placeholder='Фамилия')
								.w-lg-50.pl-lg-15.w-100
									input.input2(type='text' value='' placeholder='Имя')
								.w-lg-50.pr-lg-15.w-100
									input.input2(type='text' value='' placeholder='+380 (  ) ___-__-__')
								.w-lg-50.pl-lg-15.w-100
									input.input2(type='email' value='' placeholder='Email')
							p.fs-24.fw-medium Выберите способ доставки
							.row-form
								label.align-items-center.label-radio
									input.checkbox(type='radio' name='delivery method' checked)
									span.check-radio
									span
										span.mr-15 Доставка курьєром
										span.c-gray-700 /бессплатно от 10000 грн/
								.flex-wrap
									.w-lg-50.pr-lg-15.w-100
										input.input2(type='text' value='' placeholder='Улица')
									.w-lg-50.pl-lg-15.flex-wrap.w-100
										.w-sm-60.pr-sm-15
											input.input2(type='text' value='' placeholder='Дом')
										.w-sm-40.pl-sm-15
											input.input2(type='text' value='' placeholder='Квартира')
								label.align-items-center.label-radio
									input.checkbox(type='radio' name='delivery method')
									span.check-radio
									span Нова Почта - Отделение
								label.align-items-center.label-radio
									input.checkbox(type='radio' name='delivery method')
									span.check-radio
									span Самовывоз из склада
							p.fs-24.fw-medium Выберите способ оплаты
								.row-form
									label.align-items-center.label-radio
										input.checkbox(type='radio' name='order method' checked)
										span.check-radio
										span Наличными при получении
									label.align-items-center.label-radio
										input.checkbox(type='radio' name='order method')
										span.check-radio
										span.align-items-center
											span.mr-15 Оплата онлайн
											img.mr-15(src='img/common/mastercard.svg' alt='mastercard')
											img(src='img/common/visa.svg' alt='visa')
									label.align-items-center.label-radio
										input.checkbox(type='radio' name='order method')
										span.check-radio
										span Безналичный расчет
							.row-form
								textarea.textarea2(rows='7' cols='7') Комментарий к заказу
						.col
							.fs-24.fw-medium Ваши покупки
							ul.list-product
								-var n = 2
								while (n--)
									li.d-flex
										a.list-product_img(href='#')
											img(src='img/common/product3.jpg' alt='product' width="81px" height="83px")
										.flex-column.justify-content-between.min-h-116.w-100
											.justify-content-between
												a(href='#') Котел Аltep <br>твердотопливный
												button.btn-close(type='button')
													+icon('close2')
											.flex-center-between.w-100
												.counter.d-flex
													button.btn-minus.counter-btn(type='button') -
													input.counter-input(type='number' value='1')
													button.btn-plus.counter-btn(type='button') +
												p 
													span.text-through.mr-15 500 грн
													span.c-red 16500 грн
							.promocode
								.promocode-item.align-items-center 
									p Есть промокод на скидку
									+icon('arrow-light-down')
								.promocode-form.d-flex 
									input.input-promocode(type='text' placeholder='Введіть код')
									button.btn.fs-18(type='button') Применить
							.total
								.flex-center-between.mb-10.ff-opensans 
									p Всего
									p 1650 грн
								.flex-center-between.mb-10.ff-opensans  
									p Стоимость доставки
									p 1000 грн
								.flex-center-between.mb-20.ff-opensans 
									p Сума скидки
									p 500 грн
								.flex-center-between
									p.fs-30.fw-medium Итого
									p.fs-28.fw-medium 1750 грн
							
								label.align-items-center 
									input.checkbox(type='checkbox')
									span.check.check-red.mr-15 
									span.fs-13.ff-opensans.c-gray-700 Подтверждая заказ я принимаю условия пользовательского соглашения
								button.btn.btn-lg.mx-auto.d-block(type='submit') Оформить заказ

		section.recommended-products
			.container
				h2 Вас может заинтересовать
				.flex-wrap
					-var n = 4
					-var i = 2
					while (n--)
						.card
							if (i==4)
								.stock-new
									.stock -20%
									.new NEW
							if (i==2)
								.status-product Ожидается
							a(href='#')
								.card-top
									img(src='img/common/product2.jpg' alt='product')
									.sticky-right
										button.btn-heart(type='button')
											+icon('heart2')
										button.btn-weigher(type='button')
											+icon('weigher')
								.flex-center-between.ff-opensans.mb-16.flex-wrap
									.align-items-center
										.rate-area.checked
											input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
											label(for=`5-star${i}` title='Amazing')
											input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
											label(for=`4-star${i}` title='Good')
											input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
											label(for=`3-star${i}` title='Average')
											input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
											label(for=`2-star${i}` title='Not Good')
											input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
											label(for=`1-star${i}` title='Bad')
										.i-comments.align-items-center
											+icon('comments')
											p.text-small 21
									p.text-small.c-gray Код: 79059000-1
								p.card-title Котел твердопаливний <br> KRONAS EKO
							ul.card-info.ff-opensans.text-small
								li.d-flex
									p Производитель:
									p Кronas
								li.d-flex
									p Мощность:
									p от 12 кВт
							.flex-center-between
								p.price от 12 800 грн
								button.btn-cart.small(type='button')
									+icon('cart')
						-i++
		section.subscription
			.container
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных
block script