extends layout/main

block variables
	-var title = 'Моя учетная запись'
	-var page = 'account-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Моя учетная запись')
		section.account
			.container
				h1.fs-40.mb-30 Моя учетная запись
				.flex-wrap.account-row
					.account-left.pt-20
						ul.account-tabs.mb-30
							each val, index in ['Моя личная информация','История заказов','Мои адреса','Мои закладки']
								li(class=index==0? 'active':'')=val
						a.underline.text-center.c-gray-light(href='#') Выйти с личного кабинета
					.account-right.pt-20
						.account-item.active
							.flex-wrap
								div
									form.max-371.mb-30.pb-20
										h2.fs-24.fw-medium.text-up.mb-30 Ваша учетная запись
										.d-xl-none
											a.align-items-center.mb-30(href='#')
												span.mr-15 Связанные аккаунты
												img(src='img/common/google_icon.svg' alt='google')
										input.input2(type='text' placeholder='Имя' value='Дима' required)
										input.input2(type='text' placeholder='Фамилия' value='Кравчук' required)
										input.input2.phone-mask2(type='text' placeholder='+380 (__) ___-__-__' value='+380 (97) 234-23-23' required)
										input.input2.mb-30(type='password' placeholder='Повториь пароль' required)
										button.btn.big.max-285.mx-auto.mb-30(type='submit') Сохранить изменения
									form.max-371
										h2.fs-24.fw-medium.text-up.mb-30 Измениь пароль
										input.input2(type='зфыыцщкв' placeholder='Пароль' required)
										input.input2(type='зфыыцщкв' placeholder='Повториь пароль' required)
										button.btn.big.max-285.mx-auto.mb-30(type='submit') Сохранить изменения
										p.fs-20.fw-medium.text-up.mb-30.pt-20 Подписка на новости
										label.align-items-center
											input.checkbox(type='checkbox')
											span.check.mr-15
											span Хочу полчучать уведомления о скидках
								.d-xl-block.d-none
									a.align-items-center.linked-accounts(href='#')
										span.mr-15 Связанные аккаунты
										img(src='img/common/google_icon.svg' alt='google')
						.account-item

						.account-item
							.flex-xl-row.flex-column-reverse
								form.max-371
									h2.fs-24.fw-medium.text-up.mb-30 Добавить новый адрес
									input.input2(type='text' placeholder='Имя' required)
									input.input2(type='text' placeholder='Фамилия' required)
									input.input2(type='text' placeholder='Город' required)
									input.input2(type='text' placeholder='Область' required)
									input.input2.mb-30(type='text' placeholder='Адрес' required)
									p.fs-24.mb-30 Основной адрес
									.d-flex.mb-30
										label.align-items-center.mr-15
											input.checkbox(type='radio' name='radio' checked)
											span.check.mr-15
											span.mr-15 Да
										label.align-items-center
											input.checkbox(type='radio' name='radio')
											span.check.mr-15
											span Нет
									button.btn.big.max-285.mx-auto.mb-30(type='submit') Добавиь адрес
								.w-100.max-285
									h2.fs-24.fw-medium.text-up.mb-30 Ваши адреса
									ul.your-addresses 
										li
											p.mb-20 Ксения Пупкина <br> ул. Вацлава Гавела 4 <br> Київ, Київська обл
											.flex-center-between 
												a.c-gray-400.mr-15(href='#') редактировать
												button(type='button') 
													+icon('close2','c-gray-400')
													span.c-gray-400 удалить  
										li
											p.mb-20 Ксения Пупкина <br> ул. Вацлава Гавела 4 <br> Київ, Київська обл
											.flex-center-between 
												a.c-gray-400.mr-15(href='#') редактировать
												button(type='button') 
													+icon('close2','c-gray-400')
													span.c-gray-400 удалить 
						.account-item
							p.fs-24.fw-medium.text-up.mb-20.pb-20 Мои закладки
							.flex-wrap.bookmarks-cards
								-var n = 3
								-var i = 0
								while (n--)
									.card
										if (i == 4)
											.stock-new
												.stock -20%
												.new NEW
										if (i == 2)
											.status-product Ожидается
										a(href='#')
											.card-top
												img(src='img/common/product2.jpg' alt='product')
												.sticky-right
													button.btn-heart.active(type='button')
														+icon('heart2')
													button.btn-weigher(type='button')
														+icon('weigher')
											.flex-center-between.ff-opensans.mb-16.flex-wrap
												.align-items-center
													.rate-area.checked
														input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
														label(for=`5-star${i}` title='Amazing')
														input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
														label(for=`4-star${i}` title='Good')
														input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
														label(for=`3-star${i}` title='Average')
														input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
														label(for=`2-star${i}` title='Not Good')
														input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
														label(for=`1-star${i}` title='Bad')
													.i-comments.align-items-center
														+icon('comments')
														p.text-small 21
												p.text-small.c-gray Код: 79059000-1
											p.card-title Котел твердопаливний <br> KRONAS EKO
										ul.card-info.ff-opensans.text-small
											li.d-flex
												p Производитель:
												p Кronas
											li.d-flex
												p Мощность:
												p от 12 кВт
										.flex-center-between
											p.price от 12 800 грн
											button.btn-cart.small(type='button')
												+icon('cart')
									-i++
		section.subscription
			.container 
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail 
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных

block sliderScripts
	script(src="js/jquery.maskedinput.min.js")
	script(src="js/mask.js")