extends layout/main

block variables
	-var title = 'Карточка товара'
	-var page = 'product-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Твердотопливные котлы ','#')
					+breadcrumbs-item('Промышелнные твердотопливные котлы','#')
					+breadcrumbs-item('ALTEP TRIO UNI PLUS (КТ-3ЕN)')
		section
			.container
				.flex-center-between
					h1.fs-40 ALTEP TRIO UNI PLUS (КТ-3ЕN)
					.align-items-center
						button.btn-action.btn-action_compare(type='button')
							+icon('weigher2')
						button.btn-action.btn-action_favorites(type='button')
							+icon('heart3')

		.product
			.container.flex-wrap
				.product-about_left.align-items-center
					.slider-nav 
						-var n = 5
						while (n--)
							if (n==1)
								.slide 
									.play 
									p Видео
							else
								.slide 
									img(src='img/common/product3.jpg' alt='product')
					.relative
						.product-stock -15%
						.slider-for
							-var j = 5
							while (j--)
								if (j==1)
									//- .slide 
									//- 	img(src='img/common/product3.jpg' alt='product')
									//- 	.play
									.slide
										video.video(controls='' height='100%' width='100%'  poster='img/common/product3.jpg' preload='none' style='max-width: 100%' tabindex='0' title='MediaElement')
											source(src='img/video.mp4' type='video/mp4')
											p This browser does not support the video element.
								else
									.slide 
										img(src='img/common/product3.jpg' alt='product')
								
				.product-about_right
					ul.tabs.d-flex 
						each val, index in ['Все о товаре','Характеристики','Отзывы (21)','Инструкция','Оплата/доставка']
							li(class=index==0 ? 'active':'')=val
					.product-about_body
						.flex-sm-center-between
							.flex-center-between
								-var i = 1
								.rate-area.checked.big
									input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
									label(for=`5-star${i}` title='Amazing') 
									input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
									label(for=`4-star${i}` title='Good') 
									input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
									label(for=`3-star${i}` title='Average')
									input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
									label(for=`2-star${i}` title='Not Good') 
									input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
									label(for=`1-star${i}` title='Bad')
								.i-comments.big.align-items-center
									+icon('comments')
									a.fs-13.c-black(href='#')
										span.underline отзывы 
										| (21)
							p.fs-13.c-gray 
								span.mr-15 Артикул   
								| 11294038
						a.program-block.align-items-sm-center(href='#')
							img(src='img/common/IQ_energy_logo_PT_Sans_hor_ua.jpg' alt='img') 
							span.c-white Данный товар – участник программы 
								b IQ ENERGY
								|. Покупайте котлы 
								b Альтеп в кредит 
								| и получите 
								b гарантировано компенсацию до 35% 
								| от стоимости оборудования!
						.flex-center-between 
							.take-credit.align-items-center
								img(src='img/common/take-credit.png' alt='take-credit')
								div
									a.fw-medium.fs-20(href='#') Купить в кредит
									a.underline.c-gray-500.d-sm-none.d-block(href='#') Условия кредитования
							a.underline.c-gray-500.d-sm-block.d-none(href='#') Условия кредитования

						.product-info
							.d-flex.fs-18.fw-medium.product-info_row
								p.product-info_left.fw-medium Производитель:
								a(href="#") ALTEP
							.flex-wrap.fs-18.fw-medium.align-items-center.product-info_row
								p.product-info_left.fw-medium.product-info_power Мощность:
								.justify-content-between.power-row
									.select.select-b
										.select-item.flex-center-between(data-toggle)
											p.fw-light.fs-16 12 кВт
											.arrow
												+icon('arrow-down')

										ul.select-drop.fs-16
											li 12 кВт
											li 13 кВт
									.counter.align-items-center
										button.btn-minus.counter-btn(type='button') -
										input.counter-input(type='number' value='1')
										button.btn-plus.counter-btn(type='button') +
									button.btn-calc.align-items-center(type='button' data-button='calculation')
										svg(width='23' height='23' viewbox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M5.61839 22.7172C2.60261 22.7172 0.148682 20.2636 0.148682 17.2475C0.148682 14.2317 2.60261 11.7781 5.61839 11.7781C8.63442 11.7781 11.0881 14.2317 11.0881 17.2475C11.0881 20.2636 8.63442 22.7172 5.61839 22.7172ZM5.61839 13.0484C3.30272 13.0484 1.41899 14.9321 1.41899 17.2475C1.41899 19.5632 3.30272 21.4469 5.61839 21.4469C7.93406 21.4469 9.81778 19.5632 9.81778 17.2475C9.81778 14.9321 7.93406 13.0484 5.61839 13.0484Z' fill='black' class="calc-fill")
											path(d='M3.43534 20.0658C3.27283 20.0658 3.11056 20.0039 2.98646 19.8798C2.73852 19.6318 2.73852 19.2297 2.98672 18.9818L7.35166 14.6166C7.59936 14.3684 8.00148 14.3684 8.24993 14.6166C8.49762 14.8645 8.49762 15.2666 8.24967 15.5146L3.88473 19.8795C3.76063 20.0039 3.59811 20.0658 3.43534 20.0658Z' fill='black' class="calc-fill")
											path(d='M7.8008 20.0658C7.63828 20.0658 7.47576 20.0039 7.35192 19.8798L2.98672 15.5146C2.73852 15.2669 2.73852 14.8648 2.98646 14.6166C3.23441 14.3684 3.63678 14.3684 3.88473 14.6166L8.24967 18.9818C8.49762 19.2295 8.49762 19.6316 8.24993 19.8798C8.12583 20.0039 7.96306 20.0658 7.8008 20.0658Z' fill='black' class="calc-fill")
											path(d='M5.61839 11.2214C2.60261 11.2214 0.148682 8.76768 0.148682 5.7519C0.148682 2.73612 2.60261 0.282959 5.61839 0.282959C8.63442 0.282959 11.0881 2.73638 11.0881 5.75216C11.0881 8.76794 8.63442 11.2214 5.61839 11.2214ZM5.61839 1.55327C3.30272 1.55327 1.41899 3.43674 1.41899 5.75216C1.41899 8.06757 3.30272 9.9513 5.61839 9.9513C7.93406 9.9513 9.81778 8.06757 9.81778 5.75216C9.81778 3.43674 7.93406 1.55327 5.61839 1.55327Z' fill='black' class="calc-fill")
											path(d='M7.84832 6.38725H3.38808C3.03727 6.38725 2.75293 6.10291 2.75293 5.7521C2.75293 5.40128 3.03727 5.11694 3.38808 5.11694H7.84832C8.19913 5.11694 8.48347 5.40128 8.48347 5.7521C8.48347 6.10291 8.19913 6.38725 7.84832 6.38725Z' fill='black' class="calc-fill")
											path(d='M5.61831 8.61725C5.26749 8.61725 4.98315 8.33291 4.98315 7.98209V3.52212C4.98315 3.1713 5.26749 2.88696 5.61831 2.88696C5.96912 2.88696 6.25346 3.1713 6.25346 3.52212V7.98209C6.25346 8.33291 5.96912 8.61725 5.61831 8.61725Z' fill='black' class="calc-fill")
											path(d='M17.3818 11.2214C14.3656 11.2214 11.9111 8.76768 11.9111 5.7519C11.9111 2.73612 14.3658 0.282959 17.3818 0.282959C20.3976 0.282959 22.8515 2.73638 22.8515 5.75216C22.8515 8.76794 20.3976 11.2214 17.3818 11.2214ZM17.3818 1.55327C15.0657 1.55327 13.1814 3.43674 13.1814 5.75216C13.1814 8.06757 15.0657 9.9513 17.3818 9.9513C19.6975 9.9513 21.5812 8.06757 21.5812 5.75216C21.5812 3.43674 19.6978 1.55327 17.3818 1.55327Z' fill='black' class="calc-fill")
											path(d='M19.6118 6.38725H15.1515C14.8005 6.38725 14.5161 6.10291 14.5161 5.7521C14.5161 5.40128 14.8005 5.11694 15.1515 5.11694H19.6115C19.9621 5.11694 20.2464 5.40128 20.2464 5.7521C20.2464 6.10291 19.9621 6.38725 19.6118 6.38725Z' fill='black' class="calc-fill")
											path(d='M17.3818 22.7172C14.3656 22.7172 11.9111 20.2636 11.9111 17.2475C11.9111 14.2317 14.3656 11.7781 17.3818 11.7781C20.3976 11.7781 22.8515 14.2317 22.8515 17.2475C22.8515 20.2636 20.3976 22.7172 17.3818 22.7172ZM17.3818 13.0484C15.0657 13.0484 13.1814 14.9321 13.1814 17.2475C13.1814 19.5632 15.0657 21.4469 17.3818 21.4469C19.6975 21.4469 21.5812 19.5632 21.5812 17.2475C21.5815 14.9321 19.6978 13.0484 17.3818 13.0484Z' fill='black' class="calc-fill")
											path(d='M19.6118 17.8829H15.1515C14.8005 17.8829 14.5161 17.5985 14.5161 17.2477C14.5161 16.8969 14.8005 16.6125 15.1515 16.6125H19.6115C19.9621 16.6125 20.2464 16.8969 20.2464 17.2477C20.2464 17.5985 19.9621 17.8829 19.6118 17.8829Z' fill='black' class="calc-fill")
											path(d='M17.3815 16.2647C16.9402 16.2647 16.5813 15.9058 16.5813 15.4648C16.5813 15.0235 16.9402 14.6643 17.3815 14.6643C17.8228 14.6643 18.1822 15.0235 18.1822 15.4648C18.1822 15.9058 17.8228 16.2647 17.3815 16.2647ZM17.3815 14.9944C17.1229 14.9944 16.9121 15.2054 16.9121 15.4645C16.9121 15.7233 17.1229 15.9341 17.3815 15.9341C17.6406 15.9341 17.8514 15.7233 17.8514 15.4645C17.8514 15.2054 17.6406 14.9944 17.3815 14.9944Z' fill='black' class="calc-fill")
											path(d='M17.3815 19.8311C16.9402 19.8311 16.5813 19.4717 16.5813 19.0302C16.5813 18.5894 16.9402 18.2307 17.3815 18.2307C17.8228 18.2307 18.1822 18.5894 18.1822 19.0302C18.1822 19.4717 17.8228 19.8311 17.3815 19.8311ZM17.3815 18.5611C17.1229 18.5611 16.9121 18.7716 16.9121 19.0302C16.9121 19.2895 17.1229 19.5008 17.3815 19.5008C17.6406 19.5008 17.8514 19.2895 17.8514 19.0302C17.8514 18.7716 17.6406 18.5611 17.3815 18.5611Z' fill='black' class="calc-fill")
											path(d='M5.61839 22.7172C2.60261 22.7172 0.148682 20.2636 0.148682 17.2475C0.148682 14.2317 2.60261 11.7781 5.61839 11.7781C8.63442 11.7781 11.0881 14.2317 11.0881 17.2475C11.0881 20.2636 8.63442 22.7172 5.61839 22.7172ZM5.61839 13.0484C3.30272 13.0484 1.41899 14.9321 1.41899 17.2475C1.41899 19.5632 3.30272 21.4469 5.61839 21.4469C7.93406 21.4469 9.81778 19.5632 9.81778 17.2475C9.81778 14.9321 7.93406 13.0484 5.61839 13.0484Z' fill='black' class="calc-fill")
											path(d='M3.43534 20.0658C3.27283 20.0658 3.11056 20.0039 2.98646 19.8798C2.73852 19.6318 2.73852 19.2297 2.98672 18.9818L7.35166 14.6166C7.59936 14.3684 8.00148 14.3684 8.24993 14.6166C8.49762 14.8645 8.49762 15.2666 8.24967 15.5146L3.88473 19.8795C3.76063 20.0039 3.59811 20.0658 3.43534 20.0658Z' fill='black' class="calc-fill")
											path(d='M7.8008 20.0658C7.63828 20.0658 7.47576 20.0039 7.35192 19.8798L2.98672 15.5146C2.73852 15.2669 2.73852 14.8648 2.98646 14.6166C3.23441 14.3684 3.63678 14.3684 3.88473 14.6166L8.24967 18.9818C8.49762 19.2295 8.49762 19.6316 8.24993 19.8798C8.12583 20.0039 7.96306 20.0658 7.8008 20.0658Z' fill='black' class="calc-fill")
											path(d='M5.61839 11.2214C2.60261 11.2214 0.148682 8.76768 0.148682 5.7519C0.148682 2.73612 2.60261 0.282959 5.61839 0.282959C8.63442 0.282959 11.0881 2.73638 11.0881 5.75216C11.0881 8.76794 8.63442 11.2214 5.61839 11.2214ZM5.61839 1.55327C3.30272 1.55327 1.41899 3.43674 1.41899 5.75216C1.41899 8.06757 3.30272 9.9513 5.61839 9.9513C7.93406 9.9513 9.81778 8.06757 9.81778 5.75216C9.81778 3.43674 7.93406 1.55327 5.61839 1.55327Z' fill='black' class="calc-fill")
											path(d='M7.84832 6.38725H3.38808C3.03727 6.38725 2.75293 6.10291 2.75293 5.7521C2.75293 5.40128 3.03727 5.11694 3.38808 5.11694H7.84832C8.19913 5.11694 8.48347 5.40128 8.48347 5.7521C8.48347 6.10291 8.19913 6.38725 7.84832 6.38725Z' fill='black' class="calc-fill")
											path(d='M5.61831 8.61725C5.26749 8.61725 4.98315 8.33291 4.98315 7.98209V3.52212C4.98315 3.1713 5.26749 2.88696 5.61831 2.88696C5.96912 2.88696 6.25346 3.1713 6.25346 3.52212V7.98209C6.25346 8.33291 5.96912 8.61725 5.61831 8.61725Z' fill='black' class="calc-fill")
											path(d='M17.3818 11.2214C14.3656 11.2214 11.9111 8.76768 11.9111 5.7519C11.9111 2.73612 14.3658 0.282959 17.3818 0.282959C20.3976 0.282959 22.8515 2.73638 22.8515 5.75216C22.8515 8.76794 20.3976 11.2214 17.3818 11.2214ZM17.3818 1.55327C15.0657 1.55327 13.1814 3.43674 13.1814 5.75216C13.1814 8.06757 15.0657 9.9513 17.3818 9.9513C19.6975 9.9513 21.5812 8.06757 21.5812 5.75216C21.5812 3.43674 19.6978 1.55327 17.3818 1.55327Z' fill='black' class="calc-fill")
											path(d='M19.6118 6.38725H15.1515C14.8005 6.38725 14.5161 6.10291 14.5161 5.7521C14.5161 5.40128 14.8005 5.11694 15.1515 5.11694H19.6115C19.9621 5.11694 20.2464 5.40128 20.2464 5.7521C20.2464 6.10291 19.9621 6.38725 19.6118 6.38725Z' fill='black' class="calc-fill")
											path(d='M17.3818 22.7172C14.3656 22.7172 11.9111 20.2636 11.9111 17.2475C11.9111 14.2317 14.3656 11.7781 17.3818 11.7781C20.3976 11.7781 22.8515 14.2317 22.8515 17.2475C22.8515 20.2636 20.3976 22.7172 17.3818 22.7172ZM17.3818 13.0484C15.0657 13.0484 13.1814 14.9321 13.1814 17.2475C13.1814 19.5632 15.0657 21.4469 17.3818 21.4469C19.6975 21.4469 21.5812 19.5632 21.5812 17.2475C21.5815 14.9321 19.6978 13.0484 17.3818 13.0484Z' fill='black' class="calc-fill")
											path(d='M19.6118 17.8829H15.1515C14.8005 17.8829 14.5161 17.5985 14.5161 17.2477C14.5161 16.8969 14.8005 16.6125 15.1515 16.6125H19.6115C19.9621 16.6125 20.2464 16.8969 20.2464 17.2477C20.2464 17.5985 19.9621 17.8829 19.6118 17.8829Z' fill='black' class="calc-fill")
											path(d='M17.3815 16.2647C16.9402 16.2647 16.5813 15.9058 16.5813 15.4648C16.5813 15.0235 16.9402 14.6643 17.3815 14.6643C17.8228 14.6643 18.1822 15.0235 18.1822 15.4648C18.1822 15.9058 17.8228 16.2647 17.3815 16.2647Z' fill='black' class="calc-fill")
											path(d='M17.3815 19.8311C16.9402 19.8311 16.5813 19.4717 16.5813 19.0302C16.5813 18.5894 16.9402 18.2307 17.3815 18.2307C17.8228 18.2307 18.1822 18.5894 18.1822 19.0302C18.1822 19.4717 17.8228 19.8311 17.3815 19.8311Z' fill='black' class="calc-fill")

										span Рассчет<br>мощноси
							.flex-wrap.align-items-end.product-info_row
								.product-info_left.product-info_price
									p.fs-20.text-through 13800 грн
									p.title2.c-red.fw-medium.lh-1 12500 грн
								.justify-content-sm-between.product-info_btns
									button.btn.big.h-green(type='button') В корзину
									button.btn-white(type='button')
										span Купить в 1 клик
										.drop-phone
											input.input-phone(type='text' placeholder='+38 0_________')
											input.d-sm-none.btn.bg-orange(type="button" value="Отправить")

		section.profitable
			.container
				h2 Покупать вместе выгодней
				.profitable_border.flex-wrap 
					.profitable_left.justify-content-around
						a.product-card.d-xl-flex(href='#')
							img(src='img/common/product3.jpg' alt='product')
							span.justify-content-around.flex-column
								span.lh-17 Котел ALTEP PID 
								span
									span.fs-20.text-through.d-block 13800 грн
									span.title2.c-red.fw-medium 12500 грн
						p.plus +
						a.product-card.d-xl-flex(href='#')
							img(src='img/common/product3.jpg' alt='product')
							span.justify-content-around.flex-column
								span.lh-17 Автоматика ALTEP PID (контролер твердопаливного котла)
								span
									span.title2.c-red.fw-medium 12500 грн

					.profitable_right.flex-center-center
						.profitable_row
							div 
								p.fs-24.text-through 13800 грн
								p.title2.c-red.fw-medium.mb-md-20 12500 грн
							button.btn-b-red(type='button') Купить

		section.recommended-products 
			.container
				h2 Рекомендованные 
					span.d-sm-inline.d-none товары
				.flex-wrap
					-var n = 4 
					-var i = 2
					while (n--)
						.card 
							if (i==4) 
								.stock-new 
									.stock -20%
									.new NEW
							if (i==2) 
								.status-product Ожидается
							a(href='#')
								.card-top
									img(src='img/common/product2.jpg' alt='product')
									.sticky-right
										button.btn-heart(type='button')
											+icon('heart2')
										button.btn-weigher(type='button')
											+icon('weigher')
								.flex-center-between.ff-opensans.mb-16.flex-wrap
									.align-items-center
										.rate-area.checked
											input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
											label(for=`5-star${i}` title='Amazing') 
											input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
											label(for=`4-star${i}` title='Good') 
											input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
											label(for=`3-star${i}` title='Average')
											input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
											label(for=`2-star${i}` title='Not Good') 
											input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
											label(for=`1-star${i}` title='Bad')
										.i-comments.align-items-center
											+icon('comments')
											p.text-small 21
									p.text-small.c-gray Код: 79059000-1
								p.card-title Котел твердопаливний <br> KRONAS EKO 
							ul.card-info.ff-opensans.text-small
								li.d-flex
									p Производитель:
									p Кronas
								li.d-flex 
									p Мощность:
									p от 12 кВт
							.flex-center-between
								p.price от 12 800 грн
								button.btn-cart.small(type='button')
									+icon('cart') 
						-i++
		.information 
			.tabs 
				ul.container.d-flex
					each val, index in ['Все о товаре','Характеристики','Отзывы (21)','Инструкция','Оплата/доставка']
						li(class=index==1 ? 'active':'')=val
			.container
				.information-content.flex-wrap.justify-content-between
					.information_left
						.information-item
						.information-item.active
							a.instructions.flex-center-between.c-white.fs-24.fw-medium(href='#' download) 
								span
									span.d-block Инструкция по
									span ALTEP TRIO UNI PLUS (КТ-3ЕN)
								span.align-items-center 
									+icon('dowload')
									span.underline Скачать
							.characteristics
								h2.fs-28 Технические характеристики
								p.fs-20.fw-medium.mb-20 Альтеп DUO PLUS (КТ-2Е) – это украинские твёрдотопливные котлы длительного горения высокого качества. Вся линейка оборудования сертифицированная. 
								p.fs-15.ff-opensans.mb-20 Высокая эффективность (до 86%), длительное горение котла КТ-2Е (24–48 часов), качественная сварка, сборка, покраска, аттестированная сталь теплообменника не менее 6 мм, удобная автоматика – вот основные черты данного котла.
								p.fs-15.ff-opensans Модельный ряд по мощности котлов ALTEP DUO PLUS : 17, 25, 31, 38, 50, 62, 75, 95, 120, 150, 200, 250 кВт.
								p.fs-15.ff-opensans.mb-20 Автоматика котла управляет работой вентилятора наддува и насосом центрального отопления. Когда достигается заданная температура (которую можно выставить в пределах от 50 до 85 градусов), автоматика отключает вентилятор и котёл переходит в режим тления. Таким образом, достигается максимальная длительность горения и эффективность.
								p.fs-15.ff-opensans.mb-20 Altep KT-2E – универсальные котлы, топливом может служить антрацит или каменный уголь, древесина и отходы из нее, а также торфобрикеты и другая биомасса. Полная заводская гарантия составляет 5 лет.м
								h3.fs-20.fw-medium.mb-20 Преимущества
								ul.list-characteristics.mb-20
									each val in ['Высокая теплопродуктивность ALTEP TRIO UNI PLUS','Возможность подключения пеллетной горелки и перевода котла в автоматический режим подачи топлива','Наличие вентилятора','Наличие контроллера, управляющего температурным режимом работы котла','Высокое качество материалов']
										li.fs-14=val
								h3.fs-20.fw-medium.mb-20 Технические параметры
								table.table 
									- 
										var characteristics = [
											{
												name: 'Тип котла/мощность:',
												value1: '15',
												value2: '15',
											},
											{
												name: 'Диапазон мощности:',
												value1: 'кВт ',
												value2: '4,5-15 ',
											},
											{
												name: 'Отапливаемая площадь:',
												value1: 'м² ',
												value2: 'до 130 ',
											},
											{
												name: 'Одноразовая загрузка топлива:',
												value1: 'кг ',
												value2: '~194 ',
											},
											{
												name: 'Оптимальный КПД:',
												value1: '% ',
												value2: '~90,3-90,7 ',
											},
											{
												name: 'Рабочая температура теплоносителя:',
												value1: '°С ',
												value2: '80 ',
											},
											{
												name: 'Тяга дымохода:',
												value1: 'Па',
												value2: '24 ',
											},
											{
												name: 'Максимальное рабочее давление:',
												value1: ' бар ',
												value2: '1,5 ',
											},
											{
												name: 'Емкость котла по теплоносителю:',
												value1: 'л',
												value2: '86 ',
											},
											{
												name: 'Площадь теплообменника:',
												value1: ' м² ',
												value2: '1,9 ',
											},
											{
												name: 'Сечение дымохода:',
												value1: 'см×см ',
												value2: '14×14 ',
											},
											{
												name: 'Сечение дымохода:',
												value1: 'Øмм ',
												value2: '160 ',
											},
											{
												name: 'Минимальная высота дымохода:',
												value1: 'м ',
												value2: '7 ',
											},
											{
												name: 'Диаметр дымового шибера:',
												value1: 'Øмм ',
												value2: '159 ',
											},
											{
												name: 'Высота центра дымохода от пола:',
												value1: 'мм ',
												value2: '1258 ',
											},
											{
												name: 'Диаметр подключения Dn:',
												value1: '',
												value2: 'G1½"',
											},
											{
												name: 'Электропитание:',
												value1: 'В/Гц   ',
												value2: ' ~230/5',
											},
											{
												name: 'Номинальная мощность:',
												value1: 'Вт ',
												value2: ' 0 ',
											},
											{
												name: 'Ширина:',
												value1: 'мм',
												value2: '123 ',
											},
											{
												name: 'Глубина:',
												value1: ' мм ',
												value2: '1270 ',
											},
											{
												name: 'Высота:',
												value1: 'мм',
												value2: '918 ',
											},
											{
												name: 'Вес котла:',
												value1: 'кг',
												value2: '1666',
											},
										]
									each val in characteristics
										tr 
											td(width="60%")=val.name 
											td(align="center" width="20%")=val.value1
											td(align="center" width="20%")=val.value2
						.information-item
							h3.fs-20.fw-medium.mb-9.pb-20 Здесь вы можете прочесть отзывы о товаре <br> или поделиться своим фидбеком о нем
							form.form-comment
								.flex-wrap 
									.w-sm-50.pr-sm-11.w-100
										input.input(type="text" placeholder="Имя")
									.w-sm-50.pl-sm-11.w-100
										input.input(type="email" placeholder="E-mail")
								textarea.textarea(rows="4" cols="4" placeholder="Ваш отзыв")
								.flex-center-between
									.align-items-sm-center 
										p.fs-14.ff-opensans.mr-15.d-sm-inline.d-none Оцените товар
										-var i = 6
										.rate-area.big
											input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
											label(for=`5-star${i}` title='Amazing') 
											input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
											label(for=`4-star${i}` title='Good') 
											input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
											label(for=`3-star${i}` title='Average')
											input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
											label(for=`2-star${i}` title='Not Good') 
											input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
											label(for=`1-star${i}` title='Bad')
									button.btn(type="sumbit") Оставьте 
										span.d-sm-inline.d-none свой 
										| отзыв
							ul.comments
								li.comments-item 
									.flex-center-between 
										p.fw-semi Игорь Ткачук /14.03.2021
										-var i = 7
										.rate-area.big.checked
											input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
											label(for=`5-star${i}` title='Amazing') 
											input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
											label(for=`4-star${i}` title='Good') 
											input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
											label(for=`3-star${i}` title='Average')
											input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
											label(for=`2-star${i}` title='Not Good') 
											input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
											label(for=`1-star${i}` title='Bad')
									p.comments-text Первый раз приобретал в этом магазине. Покупкой доволен. Все аккуратно запаковано. Порадовал подарок:)

								li.comments-item 
									.flex-center-between 
										p.fw-semi Игорь Ткачук /14.03.2021
										-var i = 8
										.rate-area.big.checked
											input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
											label(for=`5-star${i}` title='Amazing') 
											input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
											label(for=`4-star${i}` title='Good') 
											input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
											label(for=`3-star${i}` title='Average')
											input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
											label(for=`2-star${i}` title='Not Good') 
											input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
											label(for=`1-star${i}` title='Bad')
									p.comments-text С большим удовольствием захожу в магазин. Благодаря тому, что в нем представлен широкий ассортимент товара, могу "зависнуть" ни на один час.

						.information-item
						.information-item
					.information_right
						.flex-wrap 
							.w-sm-50 
								p.fs-20.fw-medium Доставка
								ul.list 
									each val, index in ['Бесплатная доставка по Украине при покупке на сумму от 10000 грн.','Самовывоз из магазинов',' Пн-Вс по графику магазинов','Курьерская доставка по Киеву','Самовывоз из отделения перевозчика'] 
										li(class=index==0 ? 'fw-bold c-red':'')=val 
							.w-sm-50 
								p.fs-20.fw-medium Оплата
								ul.list 
									each val in ['При получении товара','Безналичная с НДС','Кредит'] 
										li=val 
						p.fs-12 *в случае наличия товара на складах
						.banner.c-white 
							img.banner-img(src='img/common/Depositphotos_118872734_xl-20151.jpg')
							p.fs-27.fw-medium.lh-28
								span.c-orange.d-block Хотите узнать 
								span стоимость отопления?
							p.fs-13 Воспользуйтесь нашим <br> калькулятором
							a.btn.bg-orange.align-items-center(href='#')
								img.mr-15(src='img/common/calculate.svg')
								span Просчитать
						.banner.c-white 
							img.banner-img(src='img/common/img7.jpg')
							p.fs-27.fw-medium.lh-28
								span.c-orange.d-block Хотите узнать 
								span стоимость отопления?
							p.fs-13 Воспользуйтесь нашим <br> калькулятором
							a.btn.bg-orange.align-items-center(href='#') Смотреть реализованные обьекты
		section.subscription
			.container 
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail 
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных


	.popup(data-item='calculation')
		.popup-container.stopPropagation 
			button.btn-close.ml-auto(type='button')
				+icon('close2')
			h2.text-up.text-center Рассчет мощности
			.flex-wrap.flex-md-row.flex-column-reverse
				.popup-calculation_left
					ul.list-calculation
						li.flex-center-between 
							p.fw-medium Высота, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Ширина, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Длина, м
							input.input.max-241(type='number' value='5')
						li.flex-center-between 
							p.fw-medium Степень утепления
							.select.select-i.max-241
								.select-item(data-toggle) Неутепленное, 100 Вт/м2
								ul.select-drop 
									li Неутепленное, 100 Вт/м2
					.result.flex-center-between 
						p.fs-18.fw-medium.c-white Необходимая <br> мощность, кВт
						input.input.max-165(type='text' value='5')

						
				.popup-calculation_right
					img.carcass(src='img/common/carcass.png' alt='image carcass')

block script
	script(src="js/mediaelement-and-player.min.js")
	script(src='js/video.js')