extends layout/main

block variables
	-var title = 'Корзина'
	-var page = 'cart-page'

block link

block content
	main
		.container
			nav.breadcrumbs
				ul.d-flex
					+breadcrumbs-item('Главная', '#')
					+breadcrumbs-item('Оформление заказа')
		section
			.container
				.flex-sm-center-between
					h2 Оформление заказа
					a.underline(href="#") продолжить покупки
			.cart-row
				.container
					.flex-wrap
						.col
							.flex-center-between
								p.fs-24.fw-medium Контактные данные
								a.align-items-center(href="#")
									+icon('user')
									span.fs-18.c-gray-600 Войти в аккаут
							.flex-wrap
								.w-sm-50
									input.input(type='text' value='Скоропадський' placeholder='Фамилия')
								.w-sm-50
									input.input(type='text' value='' placeholder='Имя')
								.w-sm-50
									input.input(type='text' value='' placeholder='+380 (  ) ___-__-__')
								.w-sm-50
									input.input(type='email' value='' placeholder='Email')
							p.fs-24.fw-medium Выберите способ доставки
						.col

		section.recommended-products
			.container
				h2 Вас может заинтересовать
					span.d-sm-inline.d-none товары
				.flex-wrap
					-var n = 4
					-var i = 2
					while (n--)
						.card
							if (i==4)
								.stock-new
									.stock -20%
									.new NEW
							if (i==2)
								.status-product Ожидается
							a(href='#')
								.card-top
									img(src='img/common/product2.jpg' alt='product')
									.sticky-right
										button.btn-heart(type='button')
											+icon('heart2')
										button.btn-weigher(type='button')
											+icon('weigher')
								.flex-center-between.ff-opensans.mb-16.flex-wrap
									.align-items-center
										.rate-area.checked
											input(id=`5-star${i}` type='radio' name=`rating${i}` value='5')
											label(for=`5-star${i}` title='Amazing')
											input(id=`4-star${i}` type='radio' name=`rating${i}` value='4')
											label(for=`4-star${i}` title='Good')
											input(id=`3-star${i}` type='radio' name=`rating${i}` value='3')
											label(for=`3-star${i}` title='Average')
											input(id=`2-star${i}` type='radio' name=`rating${i}` value='2')
											label(for=`2-star${i}` title='Not Good')
											input(id=`1-star${i}` type='radio' name=`rating${i}` value='1')
											label(for=`1-star${i}` title='Bad')
										.i-comments.align-items-center
											+icon('comments')
											p.text-small 21
									p.text-small.c-gray Код: 79059000-1
								p.card-title Котел твердопаливний <br> KRONAS EKO
							ul.card-info.ff-opensans.text-small
								li.d-flex
									p Производитель:
									p Кronas
								li.d-flex
									p Мощность:
									p от 12 кВт
							.flex-center-between
								p.price от 12 800 грн
								button.btn-cart.small(type='button')
									+icon('cart')
						-i++
		section.subscription
			.container
				.flex-wrap.justify-content-between.c-white
					.subscription-left
						h2.fs-30.fw-medium.mb-16.text-up Подпишись на рассылку
						p.fs-18 Получайте последние новости о акционных предложениях на e-mail
					.subscription-right
						form.form-subscription
							input.bg-white(type='email' placeholder='E-mail *' required)
							button.btn.bg-orange.c-white(type='submit') Подписатся
						p.fs-13.c-pink *Оформляя подписку вы даете согласие на обработку персональных данных
block script